@import '../../../styles/fonts';

.details {
    width: 100%;
    flex-direction: column;
    display: flex;

    border-bottom: 1px solid #efefef;

    .details_bottom_container {
        .point_adress {
            color: #051036;
            font-weight: 500;
            font-family: $font-jost;

            @media(max-width:400px) {
                font-size: 13px;
                // background-color: red;
            }
        }


        .details_bottom_description {
            display: flex;
            letter-spacing: 1px;
            font-size: 14px;
            color: #051036dc;
            font-family: $font-jost;
            font-weight: 500;
            align-items: center;

            span {
                &:nth-child(2) {
                    text-decoration: underline;
                }
            }

            i {
                font-size: 4px;
                font-weight: bold;
                color: rgb(3, 3, 3);
            }

            .bottom_main_desc {
                padding-left: 6px;

                @media(max-width:400px) {
                    font-size: 12px;
                    // background-color: red;
                }
            }

        }
    }
}