.table {
    margin: 10px 0px;
    max-width: 400px !important;

    td,
    th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 2px;
    }

    th {
        font-weight: bold;
        width: 250px !important;
        padding: 10px !important;
        text-align: center !important;
    }

    td {
        color: black;
        padding: 5px !important;
        text-align: center !important;
    }
}