//*Transitions
$tr-ease: 0.3s ease-in-out;
$tr-linear: 0.3s linear;

//*colors
$primary: #4e7ac7;


$gray-1: #424242;
$gray-2: #3b3b3b;
$gray-3: #777;

$border-color: #DDDDDD;

$black-1: #070707;
$black-2: #1c1c1c;

$offWhite: #e8e8e8;



$light-1: #697488;
$light-2: #F5F5F5;
$light-3: #FBFCFF;

$dark-1: #051036;