//*Transitions
$tr-ease: 0.3s ease-in-out;
$tr-linear: 0.3s linear;

//*colors
$primary: #1c84ee;
$darkPrimary: #0d233e;
$darkPrimary2: #000033;


$orange: #ff9f1c;

// gray**
$darkGray: #424242;
$gray-1: #eee;
$gray-2: #ccc;
// $gray-4:#a39d9d;  novbeti proje ucun
$gray-3: #5D646D;



// border***
$border-light: #efefef;
$border_gray: rgba(128, 137, 150, 0.2);


// gradients
$blue-gradient: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 10%, rgba(0, 212, 255, 1) 100%);


// backgrounds
$bg_light: rgb(245, 247, 252);