@import '../../../styles/_variables';

.section {
    background-image: url('/images/image5.webp');
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0 0 60px 0;
    padding: 70px 0;
    display: flex;

}